.intro {
	background-color: grey;
	height: 100%;
	width: 100%; 
}

.menu {
	position: sticky;
	z-index: 999;
	top: 0px;
	background-color: #BAC7F5;
	width: 100%;
	height: 5em;
	text-align: right;
}

#logo {
	font-family: 'Orbitron', sans-serif;
	position: relative;
	float: left;
	text-align: left;
	height: 100%;
	margin-left: 8%;
	font-size: 3em;
	display: flex;
  	justify-content: center;
 	 /* align horizontal */
 	 align-items: center;
 	 /* align vertical */
}

.menu a {
	color: black;
}

.menu ul {
	float: right;
	margin: 0;		
	height: 100%;
	width: 60%;
}

.menu ul li {
	display: table;
	float: right;
	width: 25%;
	height: 100%;
	text-align: center;
}

.menu ul li span:hover{
	background-color: #8E98BA;
	font-size: 1.6em;
}

.menu ul li span{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.5em;
	transition: all .4s ease;
}

#menu-button {
    display: none;
    width: 40px;
    height: 40px;
    background: #8E98BA url(menu.png) center center no-repeat;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 950;
    transition: right .6s ease;
}

#menu-button.active {
    right: 330px;
}

#sidebar {
	display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}


.page-title {
	height: auto;
	text-align: center;
	font-size: 48px;
	margin-bottom: 1em;
	color: #8c8469;
}

.page-content {
	margin: 0 10% 0 10%;
	padding: 5em 5em 2em 5em;
	background-color: white;
	height: auto;
}

#text1 {
	padding: 5em 5em 5em 5em;
}

#contact {
	height: 100%;
}

.-pc-content-column .-pc-content-column-wrapper {
    padding: 0 30px;
    position: relative;
}

.-pc-content-column.col-1 .-pc-content-column-wrapper {
    padding-left: 0;
}

.-pc-content-column.col-2 .-pc-content-column-wrapper {
    padding-right: 0;
}

.content-element{
	position: relative;
}

.page-content img {
	max-width: 100%;
	height: auto;
}

.mapa {
	margin: 0;
	width: 65%;
	padding-right: 20px;
	border-right: 1px solid #cfcfcf;
}

.info {
	margin-left: 40px;
	width: 20%;
}

.lista {
	width: 35%;
}

.lista ul {
	margin: 0;		
	height: 100%;
	width: 70%;
}

.lista ul li {
	display: table;
	padding: 5px;
	width: 100%;
	height: 3em;
	text-align: center;
	border-bottom: 1px solid #cfcfcf;
}

.lista ul li img {
	transform: translateY(25%);
}

.lista ul li:hover{
	background-color: #cfcfcf;
	transition: all .4s ease;
	cursor: pointer;
}

.lista ul li span{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.2em;
	width: 92%;
	transition: padding-right .4s ease;
}

.lista ul li span:hover {
	padding-right: 15px;
}

.informacje {
	width: 65%;
	height: 100%;
}

.informacje ul {
	transition: all .4s ease;
}

.tresc {
	display: none;
}

.certyfikaty {
	width: 100%;
	text-align: center;
}

.certyfikaty img {
	padding: 2em;
}

#cert2 {
	transform: translateY(-10%);
}

.footer {
	color: #889299;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

hr {
	border: 0;
	width: 100%;
	height: 1px;
	background: #e5e5e5;
	margin: 25px 0;
}

@media (max-width: 1023px) {
	.-pc-content-column{
		float: none !important;
		width: 100% !important;
	}	
	.-pc-content-column .-pc-content-column-wrapper {
	    padding: 0 !important;
	}	
	.company-col1, .company-col2 {
		width: 100% !important;
		float: none !important;
		margin: 0 !important;
	}

	#cert1, #cert2 {
		padding: 0;
		padding-top: 2em;
		width: 100%;
	}
}

@media (max-width: 1150px) {
	.menu ul {
		display: none;
	}

	#menu-button {
		display: block;
	}

	#sidebar {
	    position: fixed;
	    display: block;
	    right: -320px;
	    top: 0;
	    width: 320px;
	    background: rgba(255,255,255,0.8);
	    z-index: 1000;
	    height: 100%;
	    overflow: auto;
	    transition: right .6s ease;
	}

	#sidebar-list {
		margin-top: 5em;
    	list-style: none;
        
	}

	#sidebar ul li {
	    float: none;
	    margin-right: 0;
	    border-bottom: 1px solid #cfcfcf;
	    display: table;
		float: right;
		width: 320px;
		height: 4em;
		text-align: center;
	}

	#sidebar ul li span {
		display: table-cell;
		vertical-align: middle;
		font-size: 1.5em;
	}
}

@media (max-width: 1290px) {
	.mapa {
		float: none;
		width: 100%;
		border: none;
		padding: 0;
		border-bottom: 1px solid #cfcfcf;
		padding-bottom: 20px;
	}

	.info {
		float: none;
		width: 100%;
	}
}

#proj-top {
		border-top: 1px solid #cfcfcf;
}